.account_details_header {
  font-weight: 800;
  margin: 2em;
  font-size: 1.5em;
  text-align: center;
}

select {
  background-color: black;
  color: white;
  height: 2.4em;
  border-radius: 0.6em;
  padding-left: 0.9em;
  font-weight: 600;
  font-size: 1em;
}
