@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fcfcfc;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #fff;
  position: relative;
}

.logo {
  font-size: 20px;
}

.logo:hover {
  cursor: pointer;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 800;
  color: #000;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #ffff;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

.username {
  font-size: 0.6em;
}

/* signup button */

.signup {
  background-color: #000;
  color: #fff;
  width: 60px;
  padding-left: 6px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

/* ok form button */
:where(.css-dev-only-do-not-override-1n7nwfa).ant-btn-primary {
  background-color: black;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-btn-primary:not(
    :disabled
  ):hover {
  background-color: #fff;
  color: #000;
  border: solid 1px #000;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-btn-default:not(:disabled) {
  background-color: #000;
  color: #fff;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-btn-default:not(
    :disabled
  ):hover {
  background-color: #fff;
  color: #000;
  border: solid 1px #000;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #000 !important;
}

.logout_container {
  background-color: #000;
  color: #fff;
  font-weight: 600;
  padding: 0.4em;
  border-radius: 6px;
  width: 57px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.logout_container:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: solid 1px #000;
}

.signup_container {
  margin-top: 1em;
}

.logout_icon {
  font-size: 25px;
  margin: 0.5em;
  color: rgb(6, 0, 0);
  cursor: pointer;
}

.login {
  font-weight: 800;
  font-size: 16px;
  width: 100%;
}
